:root {
    --primary-color: #3a3a3a;
    --secondary-color: green;
    --animation-color: darkorange;
    --text-color: white;
    --border-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

.calcy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #2a2a2a;
}

.calcy-container .calcy-title {
    color: white;
    letter-spacing: 1.42px;
}

.calcy-calculator {
    user-select: none;
    width: 380px;
    height: 400px;
    background: var(--primary-color);
    border: 4px solid var(--border-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px;
    left: 100px;
}

.calcy-calculator .draggable-container {
    position: absolute;
    top: 2%;
    right: 102%;
    background-color: rgba(255, 255, 255, 0.125);
    border-radius: 4px;
    padding: 8px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.calcy-calculator:hover .draggable-container {
    opacity: 0.7;
}

.calcy-calculator input {
    width: 100%;
    background-color: transparent;
    height: 72px;
    border-radius: 8px 8px 0 0;
    text-align: end;
    padding: 0 20px;
    font-size: 24px;
    color: var(--text-color);
}

.calcy-calculator input::placeholder {
    color: var(--text-color);
}

.calcy-calculator .calcy-buttons {
    width: 100%;
    flex: 1;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.calcy-calculator .calcy-buttons button {
    border: 1px solid var(--border-color);
    font-size: 18px !important;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
    display: flex;
    align-items: center;
    opacity: 1;
    justify-content: center;
}

.calcy-calculator .calcy-buttons button:hover {
    background-color: var(--animation-color);
}

.row-span-2 {
    grid-row: span 2;
    background-color: var(--secondary-color) !important;
}